.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background: url('../../../assets/img/bg.jpg');
    background-size: cover;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
  }

  .signin .wellcome {
    background: rgba(63, 81, 181, 0.8);
    color: #fff;
  }
  .signin .wellcome.mat-card {
    border-radius: 4px 0px 0px 4px;
  }
  .signin .signin-form.mat-card {
    border-radius: 0px 4px 4px 0px;
  }
  
  .logo {
    min-width: 200px;
    height: auto;
  }