.dashboard-logo {
    height: 40px;
}
.session-dropdown-profile-image .profile-image {
    width: 80px;
    height: 80px;
}
.profile-image {
    border-radius: 50%;
}
.sidenav-content-title {
    background-color: #3f51b5;
    color: white;
}