<!-- Toolbar -->
<mat-toolbar color="primary" class="header mat-elevation-z6">
    <div fxLayout="row">
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
      </button>
      <img class="dashboard-logo" src="../../../assets/img/logo-link-blanco.svg" alt="Link"/>
    </div>
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="4px">
        <button mat-icon-button [matMenuTriggerFor]="dropdownNotificacionsMenu" aria-label="Example icon button with a menu icon">
          <mat-icon matBadge="15" matBadgeColor="warn">notifications_none</mat-icon>
        </button>
        <mat-menu #dropdownNotificacionsMenu="matMenu">
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">email</mat-icon>
              <div mat-line>Tienes 10 mensajes nuevos</div>
              <div mat-line><span class="mat-caption">Hace 4 minutos</span></div>
            </mat-list-option>
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">note</mat-icon>
              <div mat-line>2 tareas por completar en el día</div>
              <div mat-line><span class="mat-caption">Hace 10 horas</span></div>
            </mat-list-option>
          </mat-selection-list>
          <mat-divider></mat-divider>
          <button mat-menu-item fxLayout="row" fxLayoutAlign="center">
            <strong>Ver todas las notificaciones</strong>
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="dropdownMessagesMenu" aria-label="Example icon button with a heart icon">
          <mat-icon matBadge="15" matBadgeColor="accent">email</mat-icon>
        </button>
        <mat-menu #dropdownMessagesMenu="matMenu">
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">email</mat-icon>
              <div mat-line>Tienes 10 mensajes nuevos</div>
              <div mat-line><span class="mat-caption">Hace 4 minutos</span></div>
            </mat-list-option>
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">note</mat-icon>
              <div mat-line>2 tareas por completar en el día</div>
              <div mat-line><span class="mat-caption">Hace 10 horas</span></div>
            </mat-list-option>
          </mat-selection-list>
          <button mat-menu-item fxLayout="row" fxLayoutAlign="center">
            <strong>Ver todos los mensajes</strong>
          </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="dropdownSessionMenu" aria-label="Example icon-button with a menu" class="button-photo">
          <img src="../../../assets/img/users/jpedrozo.jpg" alt="Javier Pedrozo" class="button-photo-icon">
        </button>
        <mat-menu #dropdownSessionMenu="matMenu" class="session-dropdown-menu p-3">
          <mat-list fxLayout="column wrap" fxLayoutAlign="center center" class="mb-6">
            <div mat-line class="session-dropdown-profile-image">
                <img mat-line src="../../../assets/img/users/jpedrozo.jpg" 
                    alt="Javier Andres Pedrozo Payares" 
                    class="profile-image"/>
            </div>
            <div mat-line class="mat-body-strong text-lg">Javier Andrés Pedrozo Payares</div>
            <div mat-line><span class="mat-caption text-sm"><a href="#"></a>pedrozopayares@users.noreply.github.com</span></div>
            <div mat-line fxLayout="column wrap" fxLayoutAlign="center center" class="mt-6">
              <button mat-raised-button>
                <span>Administrar tu cuenta</span>
              </button>
            </div>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">file</mat-icon>
              <div mat-line>Cámara de Comercio de La Guajira</div>
              <div mat-line><span class="mat-caption">Coord. Sistemas</span></div>
            </mat-list-option>
            <mat-list-option>
              <mat-icon mat-list-icon aria-hidden="true">note</mat-icon>
              <div mat-line>RealPyme</div>
              <div mat-line><span class="mat-caption">Analista de datos</span></div>
            </mat-list-option>
          </mat-selection-list>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
    </div>
</mat-toolbar>
  
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
      [fixedTopGap]>
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>dashboard</mat-icon> Escritorio
        </a>
        <a mat-list-item>
          <mat-icon>person</mat-icon> Perfil
        </a>
        <a mat-list-item>
          <mat-icon>content_paste</mat-icon> Tablas
        </a>
        <a mat-list-item>
          <mat-icon>library_books</mat-icon> Tipografía
        </a>
        <a mat-list-item>
          <mat-icon>location_on</mat-icon> Mapas
        </a>
        <a mat-list-item>
          <mat-icon>calendar_today</mat-icon> Calendario
        </a>
      </mat-nav-list>
    </mat-sidenav>
  
    <!-- Main content -->
    <mat-sidenav-content>
      <!-- Applying the mat-tyography class adds styles for native elements. -->
      <section>
        <h1>Escritorio</h1>
        <mat-divider></mat-divider>
      </section>
      
  
      <!-- Angular material cards -->
      
  
    </mat-sidenav-content>
  </mat-sidenav-container>

