.dashboard-logo {
    height: 40px;
}
.session-dropdown-profile-image .profile-image {
    width: 80px;
    height: 80px;
}
.sidenav-profile-image .profile-image {
    width: 55px;
    height: 55px;
}
.profile-image {
    border-radius: 50%;
}
mat-sidenav-content {
    background-color: #EEF5F9;
}
